
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul,
ol,
li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html
body {
    font-family: Roboto;
    color: #000000;
}
._container{
    max-width: 956px;
    margin: 0 auto;
    padding: 0px 16px;
    @media(max-width: 320px){
        padding: 0px 10px;
    }
}
/*-------- header--------*/
.header {
    width: 100%;
    padding: 16px 0px;
    box-shadow: 0px 0px 16px 
                rgba(38, 38, 38, 0.16);
    margin-bottom: 55px;
}
.header__body{
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 100px 30px;
}

.logo {
    display: grid;
}

.navigation {
    gap: 25px;
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;

}
.navigation__button {
    background-color:#fff;
    border: 2px solid #E0E0E0;
    border-radius: 4px;
    font-weight: 500;
    font-size: 13px;
    line-height: calc(13 / 24 * 100%);
    padding: 14px 20px;
    transition: 0.5s;
    &:hover{
        background-color: #dedada;
    }
}
.header__basket {
    transition: 0.5s;
    &:hover{
        scale: 140%;
    }
}

/* ---------------------Main---------------------- */

.searsh {
    margin: 0px 0px 55px 0px;
}

.searsh__input_fon {
    width: 100%;
    border-bottom: 1px solid rgba(117, 117, 117, 0.5);
    opacity: 0.8;
    font-size: 16px;
    line-height: calc(16 / 24 * 100%);
}
/* ---------------------Main---------------------- */


/* ---------------------Restorans---------------------- */

.restorans {
    margin-bottom: 100px;

    @media(max-width:992px){
        margin-bottom: 60px;
    }

    @media(max-width:425px){
        margin-bottom: 30px;
        
    }
}

.restorans__body {
    p {
        font-weight: 400;
        font-size: 22px;
        line-height: calc(22 / 34 * 100%);
        margin-bottom: 15px;
    }
}

.restorans__cards {
    font-weight: 400;
    display: grid;
    column-gap: 15px;
    row-gap: 35px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));/* автоматически располагает объекты мин 250пикс */
}

.restorans__card {
    display: grid;
    grid-auto-flow: row; /* выравнивание по вертикали */
    grid-template: auto 1fr 1fr 1fr / 1fr;
}

.card__image{
    position: relative;
    padding: 0px 0px 80% 0px; /* установи процент отображения картинки */
    margin: 0px 0px 16px 0px;
    overflow: hidden;
    img{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        transition: 0.4s;
        &:hover{
            scale: 105%;
        }
    }
}

.card__title {
    display: grid;
    font-size: 16px;
    line-height: calc(16 / 24 * 100%);
    color: #1D1D1D;
}

.card__text {
    display: grid;
    margin: 4px 0px;
    font-size: 14px;
    line-height: calc(14 / 21 * 100%);
    color: #626262;
}
.card__time {
    display: grid;
    margin: 4px 0px 0px 0px;
    font-size: 13px;
    line-height: calc(13 / 21 * 100%);
    color: #1D1D1D;

}
/*--------------------Restorans-------------------- */

/* --------------------Footer---------------------- */


.footer {
    background-color: #262626;
}

.footer__body {
    display: grid;
}
.footer__header {
    display: grid;
    padding: 56px 0px 40px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.footer__main {
    margin: 32px 0px 0px 0px;
    padding-bottom: 32px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 5% 10%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.main__row-1 {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    grid-template-rows: 40px;
}
.row-1__language {
    display: grid;
    grid-template-columns: 42px minmax(200px, 227px);
    align-items: center;
    img{
        padding: 22% 10px 22% 16px;
        background-color: #3B3B3B;
    }
}

.language__select{
    background-color: #3B3B3B;
    color: #fff;
    font-size: 15px;
    height: calc(13 / 15 * 100%);
}

.language__link {
    display: grid;
    grid-template-rows: 40px;
}

.hashtag {
    color: rgb(255, 255, 255);
    font-size: 16px;
    height: calc(16 / 19 * 100%);
    display: grid;
    align-items: center;
}
.row-1__social {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: 40px;
    grid-template-columns: 35px 35px 35px 1fr;
    align-items: center;
}

%animation__icon{
    transition: 0.5s;
    border-radius: 3px;
    &:hover{
        scale: 110%;
    }
} 
.facebook{
    @extend %animation__icon;
    &:hover{
        background-color: #0b60df;
    }
}

.twitter {
    @extend %animation__icon;
    &:hover{
        background-color: #1b88d6;
    }
}

.instagram {
    @extend %animation__icon;
    &:hover{
        background-color: #8a08b9;
    }
}

.main__row-2{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    a{
        color: rgb(255, 255, 255);
        font-size: 16px;
        height: calc(16 / 19 * 100%);
        display: grid;
        grid-template-rows: 40px;
        align-items: center;
    }
}

.main__row-3{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    grid-auto-flow: row;
    padding-bottom: 40px;
    a{
        color: rgb(255, 255, 255);
        font-size: 16px;
        height: calc(16 / 19 * 100%);
        display: grid;
        grid-template-rows: 40px;
        align-items: center;
    }
}

.footer__dowload {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    padding: 40px 0px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.appstore {
    justify-items: end;
    margin: 0px 40px 0px 0px;
}

.dowload {
    display: grid;
}
.footer__footer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    padding: 40px 0px;
    gap: 24px 100px;
    a {
        color: #fff;
        font-size: 11px;
        line-height: 120%;
    }
}

.footer a{
    transition: 0.3s;
}
.footer a:hover {
    color: #bab7b7;
} 


